<div class="left-content">
    <h1>Portuguese</h1>
    <h2 style="margin: 0 auto">Amount of information with error probability</h2>
    <div style="display: flex; font-size:14pt; margin:10px 10px 5px 10px">{{{formula}}}</div>
    <div style="display: flex; font-size:14pt; margin:5px 10px">{{{secondFormula}}}</div>
    <table>
        <thead>
        <tr>
            <th>p</th>
            <th>original</th>
            <th>binary</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>0.1</td>
            <td>{{portInfQuanWithErr01}}</td>
            <td>{{portBinInfQuanWithErr01}}</td>
        </tr>
        <tr>
            <td>0.5</td>
            <td>{{portInfQuanWithErr05}}</td>
            <td>{{portBinInfQuanWithErr05}}</td>
        </tr>
        <tr>
            <td>1</td>
            <td>{{portInfQuanWithErr1}}</td>
            <td>{{portBinInfQuanWithErr1}}</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="right-content">
    <h1>Serbian</h1>
     <h2 style="margin: 0 auto">Amount of information with error probability</h2>
    <div style="display: flex; font-size:14pt; margin:10px 10px 5px 10px">{{{formula}}}</div>
    <div style="display: flex; font-size:14pt; margin:5px 10px">{{{secondFormula}}}</div>
    <table>
        <thead>
        <tr>
            <th>p</th>
            <th>original</th>
            <th>binary</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>0.1</td>
            <td>{{serbInfQuanWithErr01}}</td>
            <td>{{serbBinInfQuanWithErr01}}</td>
        </tr>
        <tr>
            <td>0.5</td>
            <td>{{serbInfQuanWithErr05}}</td>
            <td>{{serbBinInfQuanWithErr05}}</td>
        </tr>
        <tr>
            <td>1</td>
            <td>{{serbInfQuanWithErr1}}</td>
            <td>{{serbBinInfQuanWithErr1}}</td>
        </tr>
        </tbody>
    </table>
</div>