<div class="left-content">
    <h1>Portuguese</h1>
    <textarea readonly style="height:100px">{{portText}}</textarea>
    <h2 style="margin: 5px 0 5px 20px;">Text in binary form:</h2>
    <textarea readonly style="height:100px">{{portBinaryText}}</textarea>
    <div>
        <h2 style="margin: 5px 0 5px 20px;">Symbols quantity:</h2>
        original text - {{{portLength}}} <br />
        text in binary form - {{{portBinaryLength}}}
    </div>
    <h2 style="margin: 5px 0 5px 20px;">Probabilities:</h2>
    <div style="display: flex; gap: 30px;">
        <div>0 - {{{portProbability0}}}</div>   
        <div>1 - {{{portProbability1}}}</div>
    </div>
    <h2 style="margin: 5px 0 5px 20px;">Binary Entropy:</h2>
    <div style="display: flex; gap: 5px; font-size:16pt; margin-top:10px">
        <div>{{{formula}}}</div> 
        <div><b>{{{portBinaryEntropy}}}</b></div>
    </div>
</div>

<div class="right-content">
    <h1>Serbian</h1>
    <textarea readonly style="height:100px">{{serbText}}</textarea>
    <h2 style="margin: 5px 0 5px 20px;">Text in binary form:</h2>
    <textarea readonly style="height:100px">{{serbBinaryText}}</textarea>
    <div>
        <h2 style="margin: 5px 0 5px 20px;">Symbols quantity:</h2>
        original text - {{{serbLength}}} <br />
        text in binary form - {{{serbBinaryLength}}}
    </div>
    <h2 style="margin: 5px 0 5px 20px;">Probabilities:</h2>
    <div style="display: flex; gap: 30px;">
        <div>0 - {{{serbProbability0}}}</div>   
        <div>1 - {{{serbProbability1}}}</div>
    </div>
    <h2 style="margin: 5px 0 5px 20px;">Binary Entropy:</h2>
    <div style="display: flex; gap: 5px; font-size:16pt; margin-top:10px">
        <div>{{{formula}}}</div> 
        <div><b>{{{serbBinaryEntropy}}}</b></div>
    </div>
</div>

</div>