<div class="left-content">
    <h1>Portuguese</h1>
    <h3 style="margin: 5px 0 5px 20px;">Message:</h3>
    <div style="display: flex; justify-content: space-between; gap: 5px; font-size:14pt; margin: 0 15px 0 0">
        <div>{{{portMes}}}</div>
        <div>k = {{{portMesLength}}}</div>
    </div>
    <div
        style="display: flex; justify-content: space-between; gap: 5px; font-size:14pt; margin: 10px 15px 0 0; align-items:center">
        <textarea style="width: 80%; height:40px">{{{portBinaryText}}}</textarea>
        <div>k = {{{portBinaryLength}}}</div>
    </div>
    <h3 style="margin: 10px 0 5px 20px;">Entropies:</h3>
    <div>
        <div style="display: flex; gap: 5px; font-size:14pt;">
            <div>Portuguese alphabet:</div>
            <div>{{{portEntropy}}}</div>
        </div>
        <div style="display: flex; gap: 5px; font-size:14pt;">
            <div>Binary alphabet:</div>
            <div>{{{portBinaryEntropy}}}</div>
        </div>
    </div>
    <h3 style="margin: 5px 0 5px 20px;">Amount of information:</h3>
    <div style="display: flex; font-size:14pt; margin:5px 10px">{{{formula}}}</div>
    <div style="display: flex; font-size:14pt; margin:0px 10px">Based on original alphabet: {{{portOriginalInfQuan}}}
    </div>
    <div style="display: flex; font-size:14pt; margin:0px 10px">Based on binary alphabet: {{{portBinInfQuan}}}</div>
</div>

<div class="right-content">
    <h1>Serbian</h1>
    <h3 style="margin: 5px 0 5px 20px;">Message:</h3>
    <div style="display: flex; justify-content: space-between; gap: 5px; font-size:14pt; margin: 0 15px 0 0">
        <div>{{{serbMes}}}</div>
        <div>k = {{{serbMesLength}}}</div>
    </div>
    <div
        style="display: flex; justify-content: space-between; gap: 5px; font-size:14pt; margin: 10px 15px 0 0; align-items:center">
        <textarea style="width: 80%; height:40px">{{{serbBinaryText}}}</textarea>
        <div>k = {{{serbBinaryLength}}}</div>
    </div>
    <h3 style="margin: 10px 0 5px 20px;">Entropies:</h3>
    <div>
        <div style="display: flex; gap: 5px; font-size:14pt;">
            <div>Portuguese alphabet:</div>
            <div>{{{serbEntropy}}}</div>
        </div>
        <div style="display: flex; gap: 5px; font-size:14pt;">
            <div>Binary alphabet:</div>
            <div>{{{serbBinaryEntropy}}}</div>
        </div>
    </div>
    <h3 style="margin: 5px 0 5px 20px;">Amount of information:</h3>
    <div style="display: flex; font-size:14pt; margin:5px 10px">{{{formula}}}</div>
    <div style="display: flex; font-size:14pt; margin:0px 10px">Based on original alphabet: {{{serbOriginalInfQuan}}}
    </div>
    <div style="display: flex; font-size:14pt; margin:0px 10px">Based on binary alphabet: {{{serbBinInfQuan}}}</div>
</div>
</div>